<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Gestion des cartes Pokémon</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <section class="section-list-pokemon">
      <div class="top-bar">
        <div class="search-bar">
          <input
            type="text"
            placeholder="Rechercher un Pokémon..."
            aria-label="Rechercher un Pokémon"
          />
          <button class="search-button" aria-label="Rechercher">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </button>
        </div>
        <a href="/createCard" class="btn add-card-btn"
          >Ajouter une nouvelle carte +</a
        >
      </div>

      <div class="pokemon-container">
        <% pokemons.forEach(pokemon => { %>
        <div
          class="pokemon-card <%= pokemon.type %>"
          id="pokemon-card-<%= pokemon._id %>"
        >
          <div class="pokemon-card-header">
            <div class="pokemon-name"><%= pokemon.name %></div>
            <div class="header-wrapper">
              <div class="hp-display"><span>PV </span><%= pokemon.hp %></div>
              <img
                class="img-type"
                src="/assets/type_<%= pokemon.type %>.png"
                alt="<%= pokemon.name %>"
              />
            </div>
          </div>
          <img
            class="img-pokemon"
            src="<%= pokemon.image %>"
            alt="<%= pokemon.name %>"
          />

          <div class="card-actions">
            <a href="/admin/edit/<%= pokemon._id %>" class="btn btn-modifier"
              >Modifier</a
            >
            <form
              class="delete-form"
              id="delete-form-<%= pokemon._id %>"
              action="/api/pokemons/<%= pokemon._id %>?_method=DELETE"
              method="POST"
              onsubmit="event.preventDefault(); deletePokemon('<%= pokemon._id %>');"
            >
              <button
                type="submit"
                class="btn btn-supp"
                onclick="return confirm('Confirmer la suppression ?')"
              >
                Supprimer
              </button>
            </form>
          </div>
        </div>

        <% }) %>
      </div>
    </section>
    <script>
      let searchTimeout;

      document
        .querySelector(".search-bar input")
        .addEventListener("input", function () {
          clearTimeout(searchTimeout); // Réinitialise le délai précédent

          searchTimeout = setTimeout(() => {
            const query = this.value.toLowerCase(); // Requête utilisateur en minuscule
            const allCards = document.querySelectorAll(
              ".pokemon-container .pokemon-card, .pokemon-container .empty-card"
            );

            allCards.forEach((card) => {
              const cardNameElement = card.querySelector(".pokemon-name");
              const cardName = cardNameElement
                ? cardNameElement.textContent.toLowerCase()
                : "";

              if (cardName.includes(query)) {
                card.classList.remove("hidden-search"); // Affiche la carte si elle correspond
              } else {
                card.classList.add("hidden-search"); // Masque la carte si elle ne correspond pas
              }
            });
          }, 1000);
        });

      function deletePokemon(pokemonId) {
        // Crée une requête AJAX pour supprimer la carte
        fetch(`/api/pokemons/${pokemonId}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            // Vérifiez si la suppression a réussi
            if (data.message === "Carte supprimée avec succès") {
              // Supprimez l'élément de la page sans recharger
              const cardElement = document.getElementById(
                `pokemon-card-${pokemonId}`
              );
              if (cardElement) {
                cardElement.remove(); // Retirer la carte de l'affichage
              }
              alert("Carte supprimée avec succès");
            } else {
              alert("Erreur lors de la suppression de la carte");
            }
          })
          .catch((error) => {
            console.error("Erreur:", error);
            alert("Une erreur est survenue");
          });
      }
    </script>

    <script src="/js/admin.js"></script>
  </body>
</html>
