<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Gestion des cartes Pokémon</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <section class="section-list-pokemon">
      <div class="top-bar">
        <div class="search-bar">
          <input type="text" placeholder="Rechercher un Pokémon..." />
          <button class="search-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </button>
        </div>
        <a href="/createCard">Ajouter une nouvelle carte +</a>
      </div>
      <div class="pokemon-container">
        <% pokemons.forEach(pokemon => { %>
        <div class="pokemon-card <%= pokemon.type %>">
          <div class="pokemon-card-header">
            <div class="pokemon-name"><%= pokemon.name %></div>
            <div class="header-wrapper">
              <div class="hp-display"><span>PV </span><%= pokemon.hp %></div>
              <img
                class="img-type"
                src="/assets/type_<%= pokemon.type %>.png"
                alt="<%= pokemon.name %>"
              />
            </div>
          </div>
          <img
            class="img-pokemon"
            src="<%= pokemon.image %>"
            alt="<%= pokemon.name %>"
          />

          <div class="card-actions">
            <a href="/admin/edit/<%= pokemon._id %>" class="edit-button"
              >Modifier</a
            >
            <form
              class="delete-form"
              action="/api/cards/<%= pokemon._id %>"
              method="POST"
            >
              <button
                type="submit"
                class="delete-button"
                onclick="return confirm('Confirmer la suppression ?')"
              >
                Supprimer
              </button>
            </form>
          </div>
        </div>

        <% }) %>
      </div>
    </section>

    <script src="/js/admin.js"></script>
  </body>
</html>
