<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modifier la carte Pokémon</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="edit-container">
      <!-- Formulaire -->
      <div class="edit-form">
        <h2>Modifier les informations</h2>
        <form
          id="editCardForm"
          action="/api/cards/<%= card._id %>?_method=PUT"
          method="POST"
        >
          <div class="row">
            <div class="form-group">
              <label for="name">Nom:</label>
              <input
                type="text"
                id="name"
                name="name"
                value="<%= card.name %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="pv">PV:</label>
              <input
                type="number"
                id="pv"
                name="pv"
                value="<%= card.hp %>"
                required
              />
            </div>
          </div>
          <div class="radio-group">
            <label class="radio-group-title">Type de Pokémon :</label>
            <% typesPokemons.forEach((type) => { %> <input type="radio"
            id="type-<%= type.toLowerCase() %>" name="type" value="<%= type %>"
            class="radio-input <%= card.type === type ? 'checked' : '' %>" <%=
            card.type === type ? 'checked' : '' %> required />
            <label for="type-<%= type.toLowerCase() %>" class="radio-label"
              ><%= type %></label
            >
            <% }); %>
          </div>

          <div class="form-group">
            <label for="attack_name">Nom de l'attaque:</label>
            <input
              type="text"
              id="attack_name"
              name="attack_name"
              value="<%= card.attack.name %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="attack_damage">Dégâts de l'attaque:</label>
            <input
              type="number"
              id="attack_damage"
              name="attack_damage"
              value="<%= card.attack.power %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="attack_description">Description de l'attaque:</label>
            <input
              type="text"
              id="attack_description"
              name="attack_description"
              value="<%= card.attack.description %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="rarity_level">Rareté :</label>
            <select id="rarity_level" name="rarity_level" required>
              <% rarities.forEach((rarity) => { %> <% if (card.rarity.level ===
              rarity.level) { %>
              <option value="<%= rarity.level %>" selected>
                <%= rarity.label %>
              </option>
              <% } else { %>²
              <option value="<%= rarity.level %>"><%= rarity.label %></option>
              <% } %> <% }); %>
            </select>
          </div>

          <button type="submit" class="submit-button">
            Enregistrer les modifications
          </button>
        </form>
      </div>

      <!-- Affichage de la carte Pokémon -->
      <!-- <div class="pokemon-card">
        <div class="card-header">
          <h2><%= card.name %></h2>
          <span class="card-type"><%= card.type %></span>
          <span class="card-hp">PV: <%= card.pv %></span>
        </div>
        <div class="card-image">
          <img src="/images/default-pokemon.png" alt="Image de Pokémon" />
        </div>
        <div class="card-body">
          <p>
            <strong>Attaque:</strong> <%= card.attack_name %> (<%=
            card.attack_damage %> dégâts)
          </p>
          <p><strong>Faiblesse:</strong> <%= card.faiblesse %></p>
          <p><strong>Coût de retraite:</strong> <%= card.retreat_cost %></p>
          <p><strong>Rareté:</strong> <%= card.rarity %>/5</p>
        </div>
      </div> -->
    </div>

    <script src="/js/admin.js"></script>
  </body>
</html>
