<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokémon Cards</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="top-bar">
      <div class="search-bar">
        <input type="text" placeholder="Rechercher un Pokémon..." />
        <button class="search-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </button>
      </div>

      <div class="container-switch">
        <div class="switch">
          <input type="checkbox" id="toggleSwitch" class="switch-input" />
          <label for="toggleSwitch" class="switch-label">
            <span class="switch-button"></span>
          </label>
        </div>
        <img src="/assets/pokedex.jpg" alt="pokedex" class="pokedex-icon" />
        <!-- <%= pokemons.filter(pokemon => pokemon.isOwned).length %> / <%=
          pokemons.length %> -->
      </div>
    </div>
    <div class="pokemon-container">
      <% pokemons.forEach(pokemon => { %> <% if (pokemon.isOwned) { %> <%-
      include('partials/pokeCard', { pokemon }) %> <% } else { %> <%-
      include('partials/empty-pokeCard', { pokemon }) %> <% } %> <% }); %>
    </div>
    <div id="boosterModal" class="modal">
      <div class="modal-content">
        <span class="close-modal">&times;</span>
        <h2>Vos nouvelles cartes !</h2>
        <div class="booster-cards-container"></div>
      </div>
    </div>
    <script>
      document
        .getElementById("openBoosterBtn")
        .addEventListener("click", async () => {
          try {
            const response = await fetch("/api/booster");
            const data = await response.json();

            const boosterContainer = document.querySelector(
              ".booster-cards-container"
            );
            boosterContainer.innerHTML = "";

            data.randomPokemons.forEach((pokemon, index) => {
              const card = `
                          <div class="pokemon-card ${
                            pokemon.type
                          }" style="opacity: 0;" id="card-${index}">
                              ${
                                pokemon.isNew
                                  ? '<div class="new-badge">NOUVEAU !</div>'
                                  : ""
                              }
                              <div class="pokemon-name">${pokemon.name}</div>
                              <div class="hp-display">${pokemon.hp} HP</div>
                              <img src="${pokemon.image}" alt="${pokemon.name}">
                              <div class="pokemon-info">
                                  <div class="attack-info">
                                      <div class="attack-name-desc">
                                          <strong>${
                                            pokemon.attack.name
                                          }</strong>
                                          <span class="description">${
                                            pokemon.attack.description
                                          }</span>
                                      </div>
                                      <div class="attack-power">
                                          ${pokemon.attack.power}
                                      </div>
                                  </div>
                                  <div class="rarity-info">
                                      <p>${
                                        pokemon.rarity.label
                                          .charAt(0)
                                          .toUpperCase() +
                                        pokemon.rarity.label.slice(1)
                                      }</p>
                                  </div>
                              </div>
                          </div>
                      `;
              boosterContainer.innerHTML += card;
            });

            document.getElementById("boosterModal").style.display = "block";
            document.body.classList.add("modal-open");

            for (let i = 0; i < data.randomPokemons.length; i++) {
              const card = document.getElementById(`card-${i}`);
              const isNew = data.randomPokemons[i].isNew;

              await new Promise((resolve) => setTimeout(resolve, 500));

              if (isNew) {
                card.style.opacity = "1";
                card.classList.add("new-card-animation");
                await new Promise((resolve) => setTimeout(resolve, 1000));
              } else {
                card.style.transition = "all 0.5s ease";
                card.style.opacity = "1";
                card.style.transform = "scale(1)";
              }
            }
          } catch (error) {
            console.error("Erreur lors de l'ouverture du booster:", error);
          }
        });

      document.querySelector(".close-modal").addEventListener("click", () => {
        document.getElementById("boosterModal").style.display = "none";
        document.body.classList.remove("modal-open");
        location.reload();
      });

      document
        .getElementById("toggleSwitch")
        .addEventListener("change", function () {
          const showOwnedOnly = this.checked;
          const allCards = document.querySelectorAll(
            ".pokemon-container .empty-card"
          );

          allCards.forEach((card) => {
            const isOwned = card.classList.contains("owned");
            if (showOwnedOnly && !isOwned) {
              card.classList.add("hidden");
            } else {
              card.classList.remove("hidden");
            }
          });
        });

      let searchTimeout;

      document
        .querySelector(".search-bar input")
        .addEventListener("input", function () {
          clearTimeout(searchTimeout); // Réinitialise le délai précédent

          searchTimeout = setTimeout(() => {
            const query = this.value.toLowerCase(); // Requête utilisateur en minuscule
            const allCards = document.querySelectorAll(
              ".pokemon-container .pokemon-card, .pokemon-container .empty-card"
            );

            allCards.forEach((card) => {
              const cardNameElement = card.querySelector(".pokemon-name");
              const cardName = cardNameElement
                ? cardNameElement.textContent.toLowerCase()
                : "";

              if (cardName.includes(query)) {
                card.classList.remove("hidden-search"); // Affiche la carte si elle correspond
              } else {
                card.classList.add("hidden-search"); // Masque la carte si elle ne correspond pas
              }
            });
          }, 2000); // Délai de 3 secondes
        });
    </script>
  </body>
</html>
