<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Gestion des cartes Pokémon</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Administration des cartes Pokémon</h1>

    <section class="section-list-pokemon">
      <div class="container-header-list-pokemon">
        <h2>Liste des cartes</h2>
        <a href="/createCard">Ajouter une nouvelle carte +</a>
      </div>
      <div class="cards-container">
        <% cards.forEach(card => { %>
        <div class="pokemon-card">
          <div class="card-header">
            <h3><%= card.name %></h3>
            <p><strong>PV:</strong> <%= card.pv %></p>
            <p><strong>Type:</strong> <%= card.type %></p>
          </div>
          <div class="card-actions">
            <a href="/admin/edit/<%= card._id %>" class="edit-button"
              >Modifier</a
            >
            <form
              class="delete-form"
              action="/api/cards/<%= card._id %>"
              method="POST"
            >
              <button
                type="submit"
                class="delete-button"
                onclick="return confirm('Confirmer la suppression ?')"
              >
                Supprimer
              </button>
            </form>
          </div>
        </div>
        <% }) %>
      </div>
    </section>

    <script src="/js/admin.js"></script>
  </body>
</html>
